*{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Navigatio Bar*/



#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, black 0%,  transparent 100%);
    font-family: 'Courier New', Courier, monospace;
    transition: top 0.3s;
}

.nav-head a{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    padding-left: 30px;
}

.menu{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu a:hover{
    transition-duration: 700ms;
    color: rgb(247, 152, 64);
}

.menu li a{
    font-size: 20px;
    letter-spacing: 4px;
    color: aliceblue;
    text-decoration: none;
    padding: 0 10px 0 10px;
}
/* Home page*/

#home{
    height: 100vh;
    display: flex;
    margin-top: 70px;
    background: url('../image/bg.jpg');
    background-size: cover;
}


.sec-intro{
    color: aliceblue;
    font-size: 50px;
    font-weight: 600;
    margin: 170px 200px;
    font-family: 'Courier New', Courier, monospace;
}

.sec-code{
    margin: auto;
    margin-top: 150px;
}

.sec-code a{
    color: #ddd;
    text-decoration: none;
    font-size: 30px;
    font-family: monospace;
}

/* Contact */
#contact{
    height: 60vh;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact span{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.input-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-fields input{
    width: 50%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}

.submit-btn{
    width: 30%;
    height: 40px;
    background-color: aliceblue;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.submit-btn:hover{
    transition-duration: 700ms;
    background-color: black;
    color: aliceblue;
}

.social-icon{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.social-icon i{
    padding: 0 10px 0 10px;
    justify-content: center;
    font-size: 32px;
}

/* For mobile View */

@media screen and (max-width:480px)
{
    #home{
        display: flex;
        flex-wrap: wrap;
    }

    .sec-intro{
        margin-top: 50px;
        font-size: 24px;
    }

    .cv-btn{
        width: 200px;
    }

    .sec-img{
        margin: 0 0 0 0;
    }

    .sec-img img{
        width: 300px;
        height: 300px;;
    }

    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
}